@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>

    @if (Context.User.Identity.IsAuthenticated)
    {
        <h5>Hello @User.Identity.Name</h5>

    }

</p>